<div>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a aria-controls="nav-home" aria-selected="true" class="nav-item nav-link active" data-toggle="tab" href="#add-new" id="nav-home-tab" role="tab" onClick="viewFavorites();">Favorites</a>
        <a aria-controls="nav-profile" aria-selected="false" class="nav-item nav-link" data-toggle="tab" href="#my-task-history" id="nav-profile-tab" role="tab" onClick="viewAll();">Community</a>
    </div>
    <div class="tab-content">
        <div class="tab-pane fade-in active" id="add-new">
            <h3 class="my-2 text-center mx-auto">Tasks your are following</h3>
            <div id="view-favorite-tasks">
            </div>
        </div>
        <div class="tab-pane fade" id="my-task-history">
            <h3 class="my-2 text-center mx-auto">All tasks around you</h3>
            <div id="view-all-tasks">
            </div>
        </div>
    </div>
</div>


<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

<script type="text/babel" src="scripts/dash-task-getter.jsx"></script>
