<div class="sidebar-left-placeholder">
	<div>
		<a href="/dash" class="btn btn-outline-primary w-100 text-left">Dash</a>
		<a href="/add" class="btn btn-outline-primary w-100 text-left">Add Tasks</a>
		<a href="/settings" class="btn btn-outline-primary w-100 text-left">Settings</a>
		<a href="/signout" class="btn btn-outline-primary w-100 text-left">Sign Out</a>
	</div>
</div>

<script>
	var navBarDisabler = function(){
		var path = location.pathname.substring(1).split("/",1)[0];
		var elems = document.querySelectorAll("a[href^='/" + path + "']");
		if (elems)
			for (var i = 0, l = elems.length; i < l; i++) {
				var el = elems[i];
				el.className += " disabled";
			}
	};
	var bodyOnLoad = function(){
		navBarDisabler();
	};
	window.onLoad = bodyOnLoad();
</script>