<%- include("components/head-complete.html", {title: title}); %>

<div class="container-fluid p-0 bg-dark" style="min-height: 100vh;">
    <div class="row">
        <div class="col-12">
            <div class="container container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="text-center text-success pt-3">
                            <h1>Muvo</h1>
                            <hr class="bg-light" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="shadow-lg col-sm-10 col-md-8 col-lg-6 bg-white py-3 my-3 rounded mx-auto">
                        <%- include("components/sign-big.html"); %>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <%- include("components/body-footer-1.html"); %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("components/tail-complete.html"); %>
